.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  min-height: 80px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  background-color: rgba(8, 7, 8, 0.5);
  &__link {
    font-size: 1em;
    line-height: 20px;
    font-weight: 600;
    color: #736458;
    cursor: pointer;
    text-decoration: none;
    padding: 30px;
    &:hover {
      color: #ffffff;
      text-shadow: 3px 1px 25px #fff;
    }
    &_active {
      color: #ffffff;
      background-color: #4d443f;
    }
  }
  &__logo {
    max-width: 130px;
  }
}