@bg-color: #141213;
@font-color : #736458;

body {
  background-color: @bg-color;
  font-family: 'PT Sans', sans-serif;
  overflow-y: hidden;
  font-size: 16px;
}
img, ul, li, span, button, div, input {
  outline: none;
}
.logo-container {
  text-align: center;
}
.main{
  &__logo {
    max-width: 400px;
    cursor: pointer;
    margin-bottom: 8vh;
    margin-top: 8vh;
  }
  &__promo {
    color: white;
    font-size: 1.25em;
    text-align: center;
    margin: 5vh auto;
  }
  &__note {
    color: @font-color;
    font-size: 0.9375em;
    line-height: 1.875em;
    text-align: center;
    cursor: pointer;
    margin: 4vh 0;
    &_about {
      margin: 2vh auto;
    }
    &:hover {
      color: white;
    }
  }
}
._border {
  border-bottom: 2px solid @font-color;
  &_short {
    max-width: 77px;
    margin-left: auto;
    margin-right: auto;
  }
}
._white {
  color: #ffffff;
}
.next-page {
  cursor: pointer;
  position: absolute;
  top: 95%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.background-img {
  position: fixed;
  width: 100%;
  height: 100%;
}